.headerContainer {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    font-family: "Montserrat";
    font-weight: 600;
}

.blueTeamContainer {
    text-align: center;
    width: 28%;
    font-size: 45px;
    letter-spacing: 1px;
    background: rgb(82, 65, 216);
    background: linear-gradient(25deg, rgba(82, 65, 216, 1) 0%, rgba(82, 65, 216, 1) 25%, rgba(85, 64, 219, 1) 50%, rgba(100, 86, 242, 1) 84%, rgba(113, 111, 246, 1) 100%);
    color: black;
    padding: 2px 0
}


.redTeamContainer {
    text-align: center;
    width: 28%;
    font-size: 45px;
    letter-spacing: 1px;
    background: rgb(245, 100, 77);
    background: linear-gradient(135deg, rgba(245, 100, 77, 1) 0%, rgba(246, 100, 82, 1) 25%, rgba(247, 76, 80, 1) 50%, rgba(246, 66, 72, 1) 75%, rgba(244, 54, 62, 1) 100%);
    color: black;
    padding: 2px 0
}


.championContentContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.championCarouselContainer {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    text-align: center;
    margin-top: 50px;
}

.championsCarousel {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    overflow: auto;
    overflow-x: hidden;
    height: 790px;
}


.championsCarousel::-webkit-scrollbar {
    width: 18px;
    border-radius: 20px;
}

.championsCarousel::-webkit-scrollbar-track {
    background: #000915;
    border-radius: 20px;
}

.championsCarousel::-webkit-scrollbar-thumb {
    width: 24px;
    background: rgba(255, 255, 255, .1);
    border: 5px solid #000915;
    border-radius: 15px;
}

.filterContainer {
    display: flex;
    width: 100%;
    margin: 0 0 8px 40px;
    justify-content: space-between;
}

.rolesFilterContainer {
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-left: 50px;
}

.searchFilterContainer {
    width: 25%;
    margin-right: 118px;
}

.searchBarFilter {
    margin-top: 5px;
    padding: 4px;
    font-family: "Montserrat SemiBold";
    letter-spacing: 1px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(219, 219, 219, 0.2);
    width: 80%;
    text-transform: capitalize;
}

.searchbarFilter::placeholder {
    font-family: "Montserrat Light";
    color: rgba(200, 200, 200, 0.5);
}

.championOptions {
    display: grid;
    grid-template-columns: repeat(10, 125px);
    grid-row-gap: 8px;
    padding: 0 17px;
}

.blueTeamPicksContainer,
.redTeamPicksContainer {
    width: 20%;
}

.blueTeamPicksContainer>.championSplash {
    transform: scaleX(-1);
}



.championSplash {
    width: 100%;
    height: 190px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: top;
    /* possibly remove for better correct positioning (get feedback) */
}

.championSplash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}

.blueBanContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 20px 10px;
    width: 29%;
}

.blueBanContainer>.bannedChampion {
    transform: skew(-2deg);
}


.readyButtonContainer {
    margin-top: 55px
}

.readyButton {
    letter-spacing: 1px;
    font-family: "Montserrat SemiBold", serif;
    font-size: 19px;
    background: white;
    transform: skew(-5deg);
    padding: 20px 90px;
    text-decoration: none;
    border: none;
}

.readyButton:hover {
    background-color: rgba(255, 209, 94, 1);
}

.redBanContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 10px 20px 0px;
    width: 29%;
}

.redBanContainer>.bannedChampion {
    transform: skew(2deg);
}


.bannedChampion {
    height: 125px;
    width: 100px;
    border: 1px solid rgba(95, 92, 92, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}